[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "ramium"]
	path = ramium
	url = https://github.com/rafed/ramium.git
[submodule "themes/ramium"]
	path = themes/ramium
	url = https://github.com/rafed/ramium.git
